<div id="tecladoContainer">
	<div>
		<p class="tecla">Q</p>
		<p class="tecla">W</p>
		<p class="tecla">E</p>
		<p class="tecla">R</p>
		<p class="tecla">T</p>
		<p class="tecla">Y</p>
		<p class="tecla">U</p>
		<p class="tecla">I</p>
		<p class="tecla">O</p>
		<p class="tecla">P</p>
	</div>
	<div>
		<p class="tecla">A</p>
		<p class="tecla">S</p>
		<p class="tecla">D</p>
		<p class="tecla">F</p>
		<p class="tecla">G</p>
		<p class="tecla">H</p>
		<p class="tecla">J</p>
		<p class="tecla">K</p>
		<p class="tecla">L</p>
		<p class="tecla">Apagar</p>
	</div>
	<div>
		<p class="tecla">Z</p>
		<p class="tecla">X</p>
		<p class="tecla">C</p>
		<p class="tecla">V</p>
		<p class="tecla">B</p>
		<p class="tecla">N</p>
		<p class="tecla">M</p>
		<p class="tecla">Enter</p>
	</div>
</div>