h1{
	margin: 20px 0;
	text-align: center;
}

.linha{
	position: relative;
	display: flex;
	justify-content: center;
}

.linha .coluna{
	width: 50px;
	height: 50px;
	padding: 10px;
	margin: 4px 2px;
	font-size: 1.5vw;
	font-weight: bold;
	text-align: center;
	background-color: white;
	border: 2px solid #000;
	border-radius: 10px;
}

.linha .coluna.acerto{
	background-color: seagreen;
	color: white;
}
.linha .coluna.lugarErrado{
	background-color: #cc7000;
	color: white;
}
.linha .coluna.erro{
	background-color: darkgray;
	color: white;
}

#tecladoContainer {
	position: fixed;
	width: 100%;
	bottom: 20px;
}

#tecladoContainer div{
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
}

.tecla{
	padding: 1rem;
	margin: 5px;
	background-color: whitesmoke;
	border: 1px solid #000;
	border-radius: 5px;
}

@media screen and (max-width: 768px){
	#tecladoContainer {
		position: relative;
		margin-top: 50px;
	}
}