<h1>CHARADA</h1>

<div id="board">
	<div *ngFor="let linha of tabuleiro;" class="linha">
		<p *ngFor="let coluna of linha;"  class="coluna" 
		[class.acerto]="coluna.classe == 'acerto'"
		[class.erro]="coluna.classe == 'erro'"
		[class.lugarErrado]="coluna.classe == 'lugarErrado'">{{coluna.letra}}</p>
	</div>
</div>
<div id="mensagem">
	<h4 [class]="mensagem.classe">{{mensagem.text}}</h4>
	<p class="reset" *ngIf="tabuleiroService.terminaJogo" (click)="tabuleiroService.resetGame()">Clique aqui para tentar Novamente</p>
</div>
<div id="tecladoContainer">
	<div>
		<p *ngFor="let letra of ['Q','W','E','R','T','Y','U','I','O','P']" 
		class="tecla"  
		[class.acerto]="checkLetra(letra) == 'acerto'"
		[class.lugarErrado]="checkLetra(letra) == 'lugarErrado'"
		[class.erro]="checkLetra(letra) == 'erro'"
		(click)="getLetra(letra)">{{letra}}</p>
	</div>
	<div>
		<p *ngFor="let letra of ['A','S','D','F','G','H','J','K','L']" 
		class="tecla" 
		[class.acerto]="checkLetra(letra) == 'acerto'"
		[class.lugarErrado]="checkLetra(letra) == 'lugarErrado'"
		[class.erro]="checkLetra(letra) == 'erro'"
		(click)="getLetra(letra)">{{letra}}</p>
		<p class="tecla" (click)="apagarLetra()">Apagar</p>
	</div>
	<div>
		<p *ngFor="let letra of ['Z','X','C','V','B','N','M']" 
		class="tecla" 
		[class.acerto]="checkLetra(letra) == 'acerto'"
		[class.lugarErrado]="checkLetra(letra) == 'lugarErrado'"
		[class.erro]="checkLetra(letra) == 'erro'"
		(click)="getLetra(letra)">{{letra}}</p>
		<p class="tecla" (click)="adivinhar()">Enter</p>
	</div>
</div>